<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title><%= data.pageTitle || content.title %> | <%= content.organization || 'Star Tribune' %></title>

<meta name="application-name" content="<%= content.title %>">
<meta name="author" content="<%= htmlEscape(data.pageAuthor || content.metaAuthor || 'Star Tribune Visuals') %>">
<meta name="description" content="<%= htmlEscape(data.pageDescription || content.metaDescription) %>">
<meta name="robots" content="index, follow">
<meta name="rating" content="General">

<link rel="index" href="<%= config.publish.production.url %>">

<!-- Geo tags -->
<!-- <meta name="ICBM" content="latitude, longitude">
<meta name="geo.position" content="latitude;longitude">
<meta name="geo.region" content="US-MN">
<meta name="geo.placename" content="Minneapolis/St. Paul"> -->

<!-- Shortcut and related icons -->
<link rel="apple-touch-icon" sizes="180x180" href="<%= data.basePath || '.' %>/assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="<%= data.basePath || '.' %>/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="<%= data.basePath || '.' %>/assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="<%= data.basePath || '.' %>/assets/images/favicons/manifest.json">
<link rel="mask-icon" href="<%= data.basePath || '.' %>/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="<%= data.basePath || '.' %>/assets/images/favicons/favicon.ico">
<meta name="msapplication-config" content="<%= data.basePath || '.' %>/assets/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- Add to home screen for Apple -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="<%= content.title %>">

<!-- Add to home screen for Android -->
<meta name="mobile-web-app-capable" content="yes">

<!-- For proper phone zoom -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Global/external styles -->
<% if (config.styles && config.styles.globals) { config.styles.globals.forEach(function(s) { %>
  <link href="<%= s %>" rel="stylesheet" type="text/css">
<% }); } %>

<!-- Project-specific styles-->
<link rel="stylesheet" href="<%= data.basePath || '.' %>/styles.bundle.css" type="text/css">

<!-- Social Media Tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="<%= data.filePath ? config.publish.production.url + data.filePath : config.publish.production.url %>">
<meta property="og:title" content="<%= htmlEscape(data.pageTitle || content.title) %>">
<meta property="og:description" content="<%= htmlEscape(data.pageDescription || content.metaDescription) %>">
<meta property="og:site_name" content="<%= content.title %>">
<meta property="og:locale" content="en_US">
<% if (config.social && config.social.image) { %>
  <meta property="og:image" content="<%= config.publish.production.url %><%= config.social.image %>">
<% } %>

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="<%= content.twitterAccount || '@StarTribune' %>">
<meta name="twitter:creator" content="<%= data.twitterAccount || content.twitterAccount || '@StarTribune' %>">
<meta name="twitter:title" content="<%= htmlEscape(data.pageTitle || content.title) %>">
<meta name="twitter:description" content="<%= htmlEscape(data.pageDescription || content.metaDescription) %>">
<% if (config.social && config.social.image) { %>
  <meta name="twitter:image" content="<%= config.publish.production.url %><%= config.social.image %>">
<% } %>

<!-- Google structured data -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "<%= data.filePath ? config.publish.production.url + data.filePath : config.publish.production.url %>"
    },
    "headline": "<%= escapeQuotes(data.pageDescription || content.metaDescription) %>",
    "image": {
      "@type": "ImageObject",
      "url": "<%= config.publish.production.url %><%= config.social.image %>"
    },
    "author": {
      "@type": "Person",
      "name": "<%= escapeQuotes(data.pageAuthor || content.author || 'Star Tribune Visuals') %>"
    },
    "publisher": {
      "@type": "Organization",
      "name": "<%= escapeQuotes(content.organization || 'Star Tribune') %>",
      "logo": {
        "@type": "ImageObject",
        "url": "<%= config.publish.production.url %>assets/images/strib/strib-logo-transparent-307.png",
        "width": 307,
        "height": 292
      }
    },
    "description": "<%= escapeQuotes(data.pageDescription || content.socialDescription) %>"
  }
</script>

<!-- Common site data -->
<script>
  window.__startribune = window.__startribune || {};
  try {
    window.__startribune.contentSettings = <%- JSON.stringify(content) %>;
    window.__startribune.groups = <%- JSON.stringify(groups) %>;
  }
  catch (e) {
    console.error('Unable to laod site data');
    console.error(e);
  }
</script>
