<aside class="ios-homescreen" role="dialog" aria-labelledby="ios-homescreen-title" aria-describedby="ios-homescreen-description">
  <div class="ios-homescreen-inner">
    <button class="close">
      <span aria-hidden="true">x</span>
      <span class="sr-only">Close this popup</span>
    </button>

    <h1 id="ios-homescreen-title"><span>Don't miss out on any Twin Cities sights</span></h1>
    <p id="ios-homescreen-description">
      Click the icon <img src="<%= data.basePath || '.' %>/assets/images/icons/ios-add-to-homescreen.svg" alt="iOS action button image"> in the iOS tab bar below to add the guide to your home screen.
    </p>
  </div>
</aside>
