<aside class="ios-homescreen" role="dialog" aria-labelledby="ios-homescreen-title" aria-describedby="ios-homescreen-description">
  <div class="ios-homescreen-inner">
    <button class="close">
      <span aria-hidden="true">x</span>
      <span class="sr-only">Close this popup</span>
    </button>

    <h1 id="ios-homescreen-title">Don't miss out on any Twin Cities sites</h1>
    <p id="ios-homescreen-description">
      Click the icon <img src="<%= data.basePath || '.' %>/assets/images/icons/ios-add-to-homescreen.svg" alt="iOS action button image"> below to add this web app to your homescreen and let us help you make the most of your time up North.
    </p>
  </div>
</aside>
