
<% var groupSection = data.dataset === 'index' ? 'Home' :
  data.dataset === 'groups' ? data.title :
  data.groups ? data.groups[0].title :
  data.lists && data.lists[0] && data.lists[0].groups ? data.lists[0].groups[0].title :
  'unknown'; %>

<script type="text/javascript">
if ('undefined' != typeof stribUser) {
  s.prop16 = stribUser;
} else {
  s.prop16 = 'Not Logged In';
}

if ('undefined' != typeof eEditionUser) {
  s.prop19 = eEditionUser;
} else {
  s.prop19 = 'Not Logged In';
}

/* Conversion Variables */
s.campaign = '';
s.state = '';
s.zip = '';
s.events = '';
s.products = '';
s.purchaseID = '';
s.eVar1 = '';
s.eVar2 = '';
s.eVar3 = '';
s.eVar4 = '';
s.eVar5 = '';

s.server = 'static.startribune.com';
// Star Tribune specific channel
s.channel = 'variety';
s.pageName =
  '<%- jsString(content.title, true) %>: <%- jsString(metaTitle, true) %>';

// Page type
s.prop3 = '<%- jsString(data.dataset, true) %>';
// ?
s.prop4 = 'Star Tribune';
// Subsection
s.prop7 = '<%- jsString(groupSection, true) %>';
// ?
s.prop2 = 'HTML';
// Author
s.prop35 = '<%- metaAuthor ? jsString(metaAuthor, true) : "" %>';
// Application title?
s.prop24 = 'Essential Twin Cities Guide';

if (readCookie('usersubs')) {
  s.prop37 = readCookie('usersubs');
}

var s_code = s.t();
if (s_code) {
  document.write(s_code);
}
if (navigator.appVersion.indexOf('MSIE') >= 0)
  document.write(unescape('%3C') + '!-' + '-');
</script>

<noscript>
	<a href="http://www.omniture.com" title="Web Analytics">
    <img src="http://nandomedia.112.2o7.net/b/ss/nmminneapolis/1/H.20.3--NS/0?pageName=<%= encodeURIComponent(content.title + ': ' + metaTitle) %>&server=static.startribune.com&channel=variety&c1=<%= encodeURIComponent(config.publish.production.url + data.filename) %>&c2=HTML&c3=section%20front&c4=Star%20Tribune&c5=noscript&c6=&c7=variety" height="1" width="1" border="0" alt="" />
  </a>
</noscript>
