<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('./_head.ejs.html')
  </head>

  <body class="layout-items has-header" data-page-data="<%= data.basePath + '/' + data.filename.replace('.html', '.json') %>">
    <!-- Screen reader announcements -->
    <div aria-live="polite" id="announcer" class="sr-only"></div>

    <!-- Skip to main content -->
    <a href="#main-content" class="to-main-content sr-only">Skip to main content</a>

    <!-- Header -->
    <header class="project-header" role="banner" data-component="Header">
      <%- commonComponents.header %>
    </header>

    <!-- Main content here -->
    <main id="main-content" class="content horizontal-flush" role="main" data-component="Items">
      <%- contentComponent %>
    </main>

    <!-- Footer -->
    <footer role="contentinfo" class="sr-only">
      @@include('./_footer.ejs.html')
    </footer>

    @@include('./_scripts.ejs.html')
  </body>
</html>
