<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('./_head.ejs.html')
  </head>

  <body class="strib layout-places">
    <!-- Screen reader announcements -->
    <div aria-live="polite" id="announcer" class="sr-only"></div>

    <!-- Skip to main content -->
    <a href="#main-content" class="to-main-content sr-only">Skip to main content</a>

    <!-- Header -->
    <header class="project-header container-lg" role="banner">
      <h1><%= content.title %></h1>
    </header>

    <!-- Main content here -->
    <main id="main-content" class="content container-lg" role="main">
      <%- component %>
    </main>

    <!-- Footer -->
    <footer role="contentinfo">
      @@include('./_footer.ejs.html')
    </footer>

    @@include('./_scripts.ejs.html')
  </body>
</html>
