/**
 * Style for ads
 */

.ad {
  display: block;
  margin: 0 auto 2rem;
  padding-top: 2rem;

  .ad-content {
    text-align: center;
    background-color: #FDFDFD;
    color: #FDFDFD;
    margin: 0 auto;
    height: auto;

    &.testing {
      height: 250px;
      width: 300px;
      line-height: 200px;
    }
  }

  .ad-placeholder {
    text-align: center;
    background-color: #BABABF;
    color: #111111;
    height: 250px;
    width: 300px;
    line-height: 200px;
    margin: 0 auto;
  }
}
