/**
 * Style for ads
 */

.ad {
  display: block;
  margin: 0 auto 2rem;
  padding-top: 2rem;

  .ad-content {
    text-align: center;
    background-color: #FDFDFD;
    color: #FDFDFD;
    margin: 0 auto;
    height: auto;

    &.testing {
      height: 250px;
      width: 300px;
      line-height: 200px;
    }
  }

  .ad-placeholder {
    text-align: center;
    background-color: #BABABF;
    color: #111111;
    height: 250px;
    width: 300px;
    line-height: 200px;
    margin: 0 auto;
  }
}

.ad-tracker-image {
  border: none;
  display: inline-block;
  visibility: hidden;
  height: 1px;
  width: 1px;
  opacity: 0;
  position: absolute;
  z-index: -9999;
}
