/**
 * Styles for groups
 */

ul.groups-items {
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    position: relative;

    a {
      display: block;
      margin: 0 0 1em;
      text-decoration: none;

      img {
        display: block;
        min-width: 100%;
        height: auto;
      }

      span {
        display: block;
        font-size: 1.5em;
        background-color: rgba(40, 40, 40, 0.8);
        padding: 1rem;
        color: $color-white;
        position: absolute;
        bottom: 0;
        width: 100%;
        font-weight: bold;
      }
    }
  }
}

.map-items-container {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .has-minor-navigation & {
    top: 5em;
  }

  .map-wrapper {
    width: 100%;
    height: 40%;
    position: relative;
  }

  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .map-items {
    height: 60%;
    overflow-y: scroll;
  }

  .item {
    border: 1px solid $color-emerald-green;
    padding: 1.5em 2em;
    margin: 1em;
    border-radius: 0.5em;
    background-color: $color-white;
    opacity: 0.5;
    transition: opacity 0.2s;

    h1 {
      font-weight: bold;
    }

    p {
      height: 5em;
      overflow: hidden;
      margin-top: 0.3em;
      position: relative;

      &::after {
        content: '... Read more';
        display: inline;
        line-height: 1.5em;
        letter-spacing: 0;
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 3.3em;
        background-color: $color-white;
        padding-left: 0.5em;
      }
    }

    &.in-view {
      opacity: 1;
    }
  }
}
