/**
 * Styles for groups
 */

ul.groups-items {
  margin: 0;
  padding: 0;

  @include full-view {
    padding-top: 0;
    margin-bottom: 8em;
    background-color: $color-bg-gray;
  }

  li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    position: relative;

    a {
      display: block;
      margin: 0 0 1em;
      text-decoration: none;
      min-height: 10em;
      background-color: map-get($grays, 'light');

      @include full-view {
        margin: 0 0 0;
        min-height: auto;
        background-color: inherit;
        border-bottom: 0 solid $color-emerald-green;
      }

      img {
        display: block;
        min-width: 100%;
        height: auto;

        @include full-view {
          display: none;
        }
      }

      span {
        display: block;
        font-size: 1.55em;
        background-color: rgba(10, 2, 3, 0.75);
        padding: 1rem;
        color: $color-white;
        position: absolute;
        bottom: 0;
        width: 100%;
        font-weight: bold;
        border-bottom: 0.5px solid $color-emerald-green;

        @include full-view {
          position: relative;
          padding: 4rem;
          background-color: $color-bg-gray;
          color: $color-black;
          transition: background-color 0.15s;
          min-height: 7em;
          margin-bottom: 0;
          font-size: 1.55em;
          border-bottom: 0.5px solid #BDC3C7;
          font-weight: normal;

          .in-focus & {
            background-color: $color-emerald-green;
            color: $color-white;
            font-weight: bold;
          }
        }
      }
    }

    @include full-view {
      &.in-focus a span {
        background-color: $highlight-yellow;
        color: $color-default-black;
        box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.2);
        font-weight: bold;
        letter-spacing: -0.8px;
      }
    }
  }
}

.map-items-container {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @include full-view {
    position: relative;
    width: auto;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }

  .has-minor-navigation & {
    top: 5em;
  }

  .map-wrapper {
    width: 100%;
    height: 50%;
    position: relative;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);

    @include full-view {
      display: none;
    }
  }

  .map {
    position: absolute;
    width: 100%;
    height: 100%;

    @include full-view {
      display: none;
    }
  }

  .map-items {
    height: 50%;
    overflow-y: scroll;
    background-color: $color-bg-gray;

    @include full-view {
      height: auto;
      overflow-y: auto;
      margin: 2.3em;
      margin-top: 0;
      background-color: $color-white;
    }
  }

  .item {
    border: 1px solid $color-emerald-green;
    padding: 1.5em 2em;
    margin: 1.5em;
    border-radius: 0.5em;
    background-color: $color-white;
    opacity: 0.4;
    transition: opacity 0.2s;

    .item-header {
      margin-bottom: 0.5em;
    }

    @include full-view {
      border: none;
      border-bottom: 1px solid $color-emerald-green;
      padding: 0;
      padding-bottom: 3em;
      margin: 1.5em;
      margin-bottom: 3em;
      border-radius: 0;
      background-color: $color-white;
      opacity: 0.4;
      transition: opacity 0.2s;
    }

    h1 {
      font-weight: bold;
    }

    .item-description {
      height: 5.5em;
      overflow: hidden;
      margin-top: 0.3em;
      position: relative;
      margin-bottom: 0.5;

      @include full-view {
        height: 7em;
        margin-top: 0.8em;
      }

      &::after {
        content: '...';
        display: inline;
        line-height: 1.5em;
        letter-spacing: 0;
        font-weight: bold;
        position: absolute;
        width: 4em;
        right: 0;
        bottom: 0;
        background-color: $color-white;
        padding-left: 0.5em;
      }
    }

    .byline {
      display: none;
    }

    &.in-view {
      opacity: 1;
      border-bottom: 1px solid $color-emerald-green;
    }
  }
}

@include full-view {
  .main-visual .main-visual-map {
    width: 100%;
    height: 100%;
  }
}
