/**
 * Styles for groups
 */

// Have to override the general nav style (should be fixed upstream)
nav.groups-nav {
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  padding-top: 1em;
  margin-bottom: 1em;
  box-shadow: none;
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
  }

  li {
    margin: 0;
    padding: 0;
    display: block;
    width: 33.3332%;
    float: left;

    a {
      // For some reason strib styles has an !important
      color: $color-white !important;
      display: block;
      width: 100%;
      padding-bottom: 0.5em;
      border-bottom: 0.5em solid $color-white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;

      &.active {
        color: $color-highlight-blue !important;
        border-bottom-color: $color-highlight-blue;
      }
    }
  }
}

ul.groups-items {
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    position: relative;

    a {
      display: block;
      margin: 0 0 1em;
      text-decoration: none;
      // For border radius to work over children elements
      overflow: hidden;

      img {
        display: block;
        min-width: 100%;
        height: auto;
      }

      span {
        display: block;
        font-size: 2em;
        background-color: rgba(40, 40, 40, 0.85);
        padding: 1em;
        color: $color-white;
        position: absolute;
        bottom: 0;
        width: 100%;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

.map-items-container {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .has-minor-navigation & {
    top: 5em;
  }

  .map-wrapper {
    width: 100%;
    height: 40%;
    position: relative;
  }

  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .map-items {
    height: 60%;
    overflow-y: scroll;
  }

  .item {
    border: 1px solid $color-black;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    opacity: 0.5;
    transition: opacity 0.2s;

    &.in-view {
      opacity: 1;
    }
  }
}
