/**
 * Styles for groups
 */

ul.groups-items {
  margin: 0;
  padding: 0;

  @include full-view {
    padding-top: 5em;
    margin-bottom: 5em;
  }

  li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    position: relative;

    a {
      display: block;
      margin: 0 0 1em;
      text-decoration: none;
      min-height: 10em;
      background-color: map-get($grays, 'light');

      @include full-view {
        margin: 0 0 3em;
        min-height: auto;
        background-color: inherit;
      }

      img {
        display: block;
        min-width: 100%;
        height: auto;

        @include full-view {
          display: none;
        }
      }

      span {
        display: block;
        font-size: 1.45em;
        background-color: rgba(40, 40, 40, 0.85);
        padding: 1rem;
        color: $color-white;
        position: absolute;
        bottom: 0;
        width: 100%;
        font-weight: bold;

        @include full-view {
          position: relative;
          padding: 2rem;
          background-color: $color-emerald-green;
          color: $color-white;
          transition: background-color 0.1s;

          &:hover {
            background-color: $color-forest-green;
          }
        }
      }
    }
  }
}

.map-items-container {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .has-minor-navigation & {
    top: 5em;
  }

  .map-wrapper {
    width: 100%;
    height: 50%;
    position: relative;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  }

  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .map-items {
    height: 60%;
    overflow-y: scroll;
  }

  .item {
    border: 1px solid $color-emerald-green;
    padding: 1.5em 2em;
    margin: 1.5em;
    border-radius: 0.5em;
    background-color: $color-white;
    opacity: 0.4;
    transition: opacity 0.2s;

    .item-header {
      margin-bottom: 0.5em;
    }

    h1 {
      font-weight: bold;
    }

    p {
      height: 4.5em;
      overflow: hidden;
      margin-top: 0.3em;
      position: relative;
      margin-bottom: 0.5;

      &::after {
        content: '... Read more';
        display: inline;
        line-height: 1.5em;
        letter-spacing: 0;
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 3.3em;
        background-color: $color-white;
        padding-left: 0.5em;
      }
    }

    .byline {
      display: none;
    }

    &.in-view {
      opacity: 1;
    }
  }
}
