/**
 * Header styles
 */

header[role='banner'] {
  text-align: center;
  color: $color-white;
  background-color: $color-forest-green;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  padding: 0;

  nav {
    box-shadow: none;
    padding: 0;
  }

  .top-nav-section {
    margin: 0.001em 1em;
    padding: 1.5em 0 0.85em;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  .middle-logo {
    vertical-align: middle;
    display: block;
    width: 11em;
    height: 1.5em;
    background-image: url('./assets/images/strib/strib-name-star-white.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;

    @include full-view {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover {
      opacity: 0.85;
    }
  }

  .back-logo {
    vertical-align: middle;
    display: inline-block;
    margin-right: auto;
    width: 1.5em;
    height: 1.5em;
    background-image: url('./assets/images/icons/back.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: left;

    &:hover {
      opacity: 0.85;
    }
  }

  .top-nav-left {
    margin-left: auto;
    vertical-align: middle;
  }

  .menu-logo {
    vertical-align: middle;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url('./assets/images/icons/hamburger.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: right;

    &:hover {
      opacity: 0.85;
    }
  }

  .menu-logo-close {
    vertical-align: middle;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url('./assets/images/icons/close-menu.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: right;

    &:hover {
      opacity: 0.85;
    }
  }

  .social-buttons {
    display: none;
    vertical-align: middle;
    font-size: 0.65em;
    margin-right: 1rem;

    @include full-view {
      display: inline-block;
      font-size: 0.8em;
      padding-top: 1%;
    }
  }

  h1 {
    font-family: Benton Sans;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    vertical-align: bottom;
    padding-top: 0.6em;
    position: absolute;
    top: 3.1em;
    left: 10%;
    color: $color-forest-green;
    display: none;
  }

  .full-nav {
    width: 100%;
    // Note that this will go over the height of the page,
    // but, since this is fixed, its kind of ok
    height: 100vh;
    font-size: 1.1em;
    padding: 1em 0 2em;
    z-index: 1000;
    display: none;

    &.full-nav-open {
      display: block;
    }

    h1 {
      font-family: Benton Sans;
      font-weight: bold;
      font-size: 1.1em;
      text-transform: uppercase;
      vertical-align: bottom;
      position: absolute;
      top: -21%;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      width: 100%;
      span {
        border-top: 2px solid white;
        padding-top: 0.3em;
      }

      @include full-view {
        top: -45%;
      }
    }

    ul,
    li {
      margin: 0;
      padding: 0;
      display: block;
    }

    ul {
      // Offsets the vertical centering
      padding-bottom: 5%;
      @include full-view {
        width: 70%;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

    ul li {
      @include full-view {
        width: 49.5%;
        display: block;
        padding: 0 2em;
        float: left;
      }
      a {
        display: block;
        width: 100%;
        height: 6vh;
        line-height: 6vh;
        font-size: 1.2em;
        vertical-align: middle;
        text-align: center;
        font-weight: normal;
        color: $color-white;
        text-transform: uppercase;
        text-decoration: none;

        @include full-view {
          width: 100%;
          display: block;
          height: auto;
          line-height: 1em;
          border-bottom: 1px solid $color-white;
          padding: 2em 1em;
        }

        span {
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
        }

        &:hover {
          opacity: 0.5;
        }
      }



      .social-buttons {
        text-align: center;
        display: block;
        height: 6vh;
        margin-top: 1em;
        margin-left: 2em;
        @include full-view {
          display: none;
        }

        a {
          display: inline-block;
          width: 3em;
          height: 3em;
          margin-right: 0.1em;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;

          &:hover {
            opacity: 0.85;

            @include full-view {
              border-bottom-color: transparent;
              box-shadow: 0 -4px 0 0 $color-white;
              opacity: 1;
              font-weight: bold;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }

    .sponsored-by {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      span {
        font-size: 1em;
        font-family: map-get($font-sets, 'benton-sans');
        color: $color-white;
        font-weight: bold;
      }
      img {
        display: inline;
        height: 1.5em;
        padding-left: 0.2em;
      }
    }
  }
}
