/**
 * Header styles
 */

header[role='banner'] {
  text-align: center;
  color: $color-white;
  background-color: $color-forest-green;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  padding: 0;

  nav {
    box-shadow: none;
    padding: 0;
    margin: 0.85em 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  .middle-logo {
    vertical-align: middle;
    display: block;
    width: 11em;
    height: 1.5em;
    background-image: url('./assets/images/strib/strib-name-star-white.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;

    &:hover {
      opacity: 0.85;
    }
  }

  .back-logo {
    vertical-align: middle;
    display: inline-block;
    margin-right: auto;
    width: 1.5em;
    height: 1.5em;
    background-image: url('./assets/images/icons/back.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: left;

    &:hover {
      opacity: 0.85;
    }
  }

  .menu-logo {
    margin-left: auto;
    vertical-align: middle;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url('./assets/images/icons/hamburger.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: right;

    &:hover {
      opacity: 0.85;
    }
  }

  h1 {
    font-family: Benton Sans;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    vertical-align: bottom;
    padding-top: 0.6em;
    position: absolute;
    top: 3.1em;
    left: 10%;
    color: $color-forest-green;
    display: none;
  }
}
