/**
 * Header styles
 */

header[role='banner'] {
  text-align: center;
  color: $color-white;
  background-color: $color-forest-green;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  padding: 0;

  nav {
    box-shadow: none;
    padding: 0;
  }

  .top-nav-section {
    margin: 0.001em 1em;
    padding: 1.5em 0 0.85em;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  // Flex space-between doesn't center elements without some
  // hackery
  .middle-logo {
    vertical-align: middle;
    display: block;
    flex: none;
    width: 11em;
    height: 1.5em;
    background-image: url('./assets/images/strib/strib-name-star-white.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    position: absolute;
    transform: translateX(-50%);

    // Adjust centering as star visually uncenters
    left: 50%;

    &:hover {
      opacity: 0.85;
    }
  }

  .back-logo {
    vertical-align: middle;
    display: inline-block;
    margin-right: auto;
    width: 1.5em;
    height: 1.5em;
    background-image: url('./assets/images/icons/back.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: left;

    &:hover {
      opacity: 0.85;
    }
  }

  .top-nav-left {
    margin-left: auto;
    vertical-align: middle;
    .secondary-head {
      display: none;

      @include full-view {
        display: inline-block;
        font-size: 1em;
        font-family: map-get($font-sets, 'benton-sans');
        color: $color-white;
        text-transform: uppercase;
        font-weight: bold;
        vertical-align: middle;
        padding-top: 0.3em;
      }
    }
  }

  .menu-logo {
    vertical-align: middle;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url('./assets/images/icons/hamburger.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: right;

    &:hover {
      opacity: 0.85;
    }
  }

  .menu-logo-close {
    vertical-align: middle;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: url('./assets/images/icons/close-menu.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: right;

    &:hover {
      opacity: 0.85;
    }
  }

  .social-buttons {
    display: none;
    vertical-align: middle;
    font-size: 0.65em;
    margin-right: 1rem;

    @include full-view {
      display: inline-block;
      font-size: 0.8em;
      padding-top: 1%;
    }
  }

  .full-nav {
    width: 100%;
    // Note that this will go over the height of the page,
    // but, since this is fixed, its kind of ok
    height: 100vh;
    font-size: 1.1em;
    z-index: 1000;
    display: none;

    .main-nav-heading {
      font-family: map-get($font-sets, 'benton-sans');
      font-weight: bold;
      font-size: 0.9em;
      text-align: center;
      text-transform: uppercase;
      color: $color-white;
      margin: -0.8em auto 0;
      width: 100%;
      letter-spacing: 0.5px;

      @include full-view {
        display: none;
      }
    }

    &.full-nav-open {
      display: block;
    }

    ul li {
      margin: 0;
    }

    ul {
      // Offsets the vertical centering
      padding-bottom: 15vh;
    }

    .vertical-bottom {
      bottom: 10%;
    }

    .sponsored-by {
      text-align: center;

      // Offsets the vertical centering
      padding-bottom: 9vh;

      a {
        font-size: 1em;
        font-family: map-get($font-sets, 'benton-sans');
        color: $color-white;

        img {
          display: inline;
          height: 1.5em;
          padding-left: 0.2em;
          vertical-align: middle;
        }
      }
    }
  }
}
