.ios-homescreen {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 999999;
  display: none;

  &.show {
    display: block;
  }

  .ios-homescreen-inner {
    font-family: map-get($font-sets, 'benton-sans');
    background-color: $highlight-yellow;
    font-size: 0.85em;
    max-width: 40em;
    padding: 1rem 1.5rem;
    margin: 0 auto;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
  }

  &.show .ios-homescreen-inner {
    max-height: 10em;
  }

  h1 {
    font-family: map-get($font-sets, 'benton-sans');
    font-size: 1em;
    text-transform: none;
    margin: 0 0 0.5em 0;
    padding: 0;
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  img {
    max-height: 1.5em;
    display: inline-block;
    max-width: 1.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }

  button {
    display: block;
    float: right;
    font-weight: bold;
    color: $color-black;
    font-size: 1.25em;
    text-decoration: none;
    padding: 0 0 0.5em 0.5em;
    margin: 0;
    border: none;
    background-color: transparent;

    &:hover {
      color: $color-white;
    }
  }
}
