/**
 * Styles for title page.
 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.layout-index {
  // Override header
  background-color: $color-default-black;

  &.has-header {
    padding-top: 0;
  }

  header[role='banner'] {
    display: none;
  }

  // Sections
  .index-section {
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .index-section-inner {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .index-section-background {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    will-change: transform;
    z-index: -100;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('./assets/images/responsive/stadium-portrait.jpg');
  }

  .title-logo {
    text-align: center;
    padding: 1rem;

    img {
      display: inline;
      height: 1.5rem;

      @include full-view {
        height: 2rem;
      }
    }
  }

  // Splash screen section
  .splash {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 10;

    .index-section-background {
      background-image: url('./assets/images/responsive/stadium-portrait.jpg');

      @include full-view {
        background-image: url('./assets/images/responsive/stadium-landscape.jpg');
        background-position: 50% 30%;
      }
    }

    .title-logo {
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 4s;
      animation-delay: 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    h1 {
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 4s;
      animation-delay: 4s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      color: $color-white;
      margin: 0 auto;
      font-family: map-get($font-sets, 'benton-sans');
      font-size: 2.3em;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0;
      display: block;
      text-align: center;
      padding: 0.5em;
      width: 10em;
      background-color: $color-default-black;

      // Off vertical center
      margin-top: 5vh;

      span {
        display: block;
      }

      @include full-view {
        font-size: 2.5em;

        // Off vertical center
        margin-top: 17vh;
      }

      .guide {
        font-size: 0.5em;
        font-weight: normal;
        margin-top: 0;
        letter-spacing: 0.8px;
      }
    }

    .vertical-bottom {
      text-align: center;
    }

    .get-started {
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 4s;
      animation-delay: 6s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      display: inline-block;
      background-color: $highlight-yellow;
      color: $color-default-black;
      padding: 1em;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: normal;

      // Offset vertical
      margin-bottom: 17vh;

      &:hover {
        color: $highlight-yellow;
        background-color: $color-default-black;
        transition: all 0.2s ease-in-out;
      }

      @include full-view {
        margin-bottom: 3vh;
      }
    }
  }

  // Sponsored by section
  .in-the-way {
    z-index: 10;
    color: $color-white;

    @include full-view {
      display: none;
    }

    .index-section-background {
      background-image: url('./assets/images/responsive/stadium-blur-portrait.jpg');

      @include full-view {
        background-image: url('./assets/images/responsive/stadium-blur-landscape.jpg');
        background-position: 50% 30%;
      }
    }

    .in-the-way-content-i-mean-ad {
      max-width: 50%;
      margin: 0 auto;
      position: relative;
      text-align: center;

      span {
        display: block;
        font-size: 0.9em;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        padding-bottom: 1.2em;
      }

      img {
        height: 4.5em;
      }
    }
  }

  // Group navigation section
  .group-navigation {
    z-index: 10;
    color: $color-white;

    .index-section-background {
      background-image: url('./assets/images/responsive/stadium-blur-portrait.jpg');

      @include full-view {
        background-image: url('./assets/images/responsive/stadium-blur-landscape.jpg');
        background-position: 50% 30%;
      }
    }
  }
}
