/**
 * Styles for title page.
 */

 body.layout-index {
   background-color: $color-emerald-green;
}

.groups {
  .group a {
    font-size: 1.3em;
    display: block;
    width: 101%;
    height: 9vh;
    line-height: 4em;
    text-align: center;
    font-weight: bold;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
