/**
 * Styles for title page.
 */

.layout-index {
  // Override header
  &.has-header {
    padding-top: 0;
  }

  header[role='banner'] {
    display: none;
  }

  // Splash screen section
  .splash {
    height: 100vh;
    background-color: $color-forest-green;
    color: $color-white;
    padding-top: 0.5em;
    text-align: center;

    h1 {
      font-family: map-get($font-sets, 'benton-sans');
      font-size: 1.7em;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      margin-top: 10%;

      span {
        display: block;
        padding: 0.5em;
      }

      img {
        display: inline-block;
        width: 85%;
        max-width: 550px;
        overflow: hidden;
        height: auto;
      }

      @include full-view {
        margin-top: 20%;
      }
    }

    .get-started {
      display: inline-block;
      border: 2px solid $color-white;
      color: $color-white;
      padding: 0.5em 1em;
      border-radius: 0.5em;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 10%;

      @include full-view {
        margin-bottom: 10%;
      }
    }

    .splash-footer {
      font-size: 0.65em;
      text-transform: uppercase;
      display: none;
      span {
        display: block;
      }
    }
  }

  // Group navigation section
  .group-navigation {
    height: 100vh;
    background: rgba(0, 99, 65, 1);
    background: linear-gradient(
      to bottom,
      rgba(0, 99, 65, 1) 0%,
      rgba(0, 130, 74, 1) 100%
    );
    overflow: hidden;
    position: relative;
    padding-top: 0.5em;
  }

  .title-logo {
    display: block;
    max-width: 11em;
    min-height: 1.5em;
    background-image: url('./assets/images/strib/strib-name-star-white.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0.75em auto;
  }

  .group-navigation h1 {
    font-family: map-get($font-sets, 'benton-sans');
    font-weight: bold;
    font-size: 1.15em;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    width: 67%;
    min-width: 16em;
    border-top: 1px solid $color-white;
    margin: 0 auto 3em;
  }

  .groups {
    width: 100%;

    .group a {
      font-size: 1.1em;
      display: block;
      width: 100%;
      height: 7vh;
      line-height: 4em;
      text-align: center;
      font-weight: normal;
      color: $color-white;
      text-transform: uppercase;
      text-decoration: none;

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
