/**
 * Styles for title page.
 */

.groups {
  margin-left: -1em;
  margin-right: -1em;

  .group a {
    font-size: 1.5em;
    display: block;
    float: left;
    width: 50%;
    height: 8em;
    line-height: 8em;
    text-align: center;
    font-weight: bold;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    background: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 10px,
      rgba(0, 0, 0, 0.3) 10px,
      rgba(0, 0, 0, 0.3) 20px
    ),
      repeating-linear-gradient(
      -12deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 10px,
      rgba(0, 0, 0, 0.3) 10px,
      rgba(0, 0, 0, 0.3) 20px
    );

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
