/**
 * Styles for title page.
 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.layout-index {
  // Override header
  background-color: $color-default-black;

  &.has-header {
    padding-top: 0;
  }

  header[role="banner"] {
    display: none;
  }

  // Sections
  .index-section {
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .index-section-inner {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .index-section-background {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    will-change: transform;
    z-index: -100;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
  }

  .index-section-video-background {
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  .title-logo {
    text-align: center;
    padding: 1rem;

    img {
      display: inline;
      height: 1.5rem;

      @include full-view {
        height: 2rem;
      }
    }
  }

  // Splash screen section
  .splash {
    z-index: 10;

    // Default happens either way (if video plays)
    .index-section-image-background {
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-delay: 1.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    // Video
    .index-section-video-background {
      z-index: -50;
      // Fade helps with any initial poster image
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 1s;
      // We take 0.5s to check if we can auto-play
      animation-delay: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    // Cannot auto-play
    &.cannot-autoplay {
      .index-section-video-background {
        opacity: 0;
      }

      .index-section-image-background {
        z-index: -10;
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 2.5s;
        animation-delay: 0;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }

    // Layer on top if video played and ended
    &.intro-video-ended .index-section-image-background {
      z-index: -10;
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-delay: 0;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    .index-section-background {
      @include responsive-image(
        "./assets/images/responsive/final-four-portrait",
        $extension: "png"
      );

      @include full-view {
        @include responsive-image(
          "./assets/images/responsive/final-four-landscape",
          $extension: "png",
          $default-high: 2000
        );

        background-position: 50% 50%;
      }
    }

    .title-logo {
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 3.5s;
      animation-delay: 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    h1 {
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 3.5s;
      animation-delay: 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      color: $color-white;
      margin: 0 auto;
      font-family: map-get($font-sets, "benton-sans");
      font-size: 2.3em;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0;
      display: block;
      text-align: center;
      padding: 0.5em;
      width: 10em;
      background-color: $color-default-black;

      // Off vertical center
      margin-top: 5vh;

      span {
        display: block;
      }

      @include full-view {
        font-size: 2.5em;

        // Off vertical center
        margin-top: 17vh;
      }

      .guide {
        font-size: 0.5em;
        font-weight: normal;
        margin-top: 0;
        letter-spacing: 0.8px;
      }
    }

    .vertical-bottom {
      text-align: center;
    }

    .get-started {
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 3.5s;
      animation-delay: 4s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      display: inline-block;
      background-color: $highlight-yellow;
      color: $color-default-black;
      padding: 1em;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: normal;

      // Offset vertical
      margin-bottom: 17vh;

      &:hover {
        color: $highlight-yellow;
        background-color: $color-default-black;
        transition: all 0.2s ease-in-out;
      }

      @include full-view {
        margin-bottom: 3vh;
      }
    }
  }

  // Sponsored by section
  .in-the-way {
    z-index: 10;
    color: $color-white;

    @include full-view {
      display: none;
    }

    .index-section-background {
      @include responsive-image(
        "./assets/images/responsive/final-four-blur-portrait",
        $extension: "png"
      );
    }

    .in-the-way-content-i-mean-ad {
      max-width: 50%;
      margin: 0 auto;
      position: relative;
      text-align: center;

      span {
        display: block;
        font-size: 0.9em;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        padding-bottom: 1.2em;
      }

      img {
        height: 4.5em;
      }
    }
  }

  // Group navigation section
  .group-navigation {
    z-index: 10;
    color: $color-white;

    .index-section-background {
      @include responsive-image(
        "./assets/images/responsive/final-four-blur-portrait",
        $extension: "png"
      );

      @include full-view {
        @include responsive-image(
          "./assets/images/responsive/final-four-blur-landscape",
          $extension: "png",
          $default-high: 2000
        );

        background-position: 50% 30%;
      }
    }
  }

  // Hide for repeat visitors
  .repeat-visitor {
    .in-the-way,
    .splash {
      display: none;
    }
  }
}
