/**
 * Style for each item.
 */

article.item {
  margin-top: 1.5em;
  border-bottom: 1px solid black;
  padding-bottom: 3em;

  h1 {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0.1em;

    &.heading-alternate {
      text-align: left;
      margin-top: 0;
      font-size: 1.6em;
      line-height: 1;
      width: 75%;
    }

    a {
      text-decoration: none;
      color: $color-text;
      display: block;
      line-height: 1.1;
    }

    &.near-me {
      text-align: right;
      font-family: 'Benton Sans';
      font-weight: normal;
      font-size: 1.5em;
      width: 23%;
    }
  }

  .social-buttons {
    margin-top: 30px;

    .facebook-button {
      display: inline-block;
      width: 2.2em;
      height: 2.2em;
      margin-right: 2px;
      background-image: url('http://static.startribune.com/images/icons/facebook.svg?cache=trash1');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      &:hover {
        opacity: 0.85;
      }
    }

    .twitter-button {
      display: inline-block;
      width: 2.2em;
      height: 2.2em;
      margin-right: 2px;
      background-image: url('http://static.startribune.com/images/icons/twitter.svg?cache=trash');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      &:hover {
        opacity: 0.85;
      }
    }

    .email-button {
      display: inline-block;
      width: 2.2em;
      height: 2.2em;
      background-image: url('http://static.startribune.com/images/icons/link.svg?cache=trash');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      &:hover {
        opacity: 0.85;
      }
    }
  }

  address {
    font-style: normal;
    font-weight: bold;
    font-size: 0.85em;
    margin-bottom: 1.3em;
    margin-top: 0.5em;
    width: 70%;
  }

  .intro-text {
    position: relative;
  }

  .directions,
  address {
    display: inline-block;
  }

  .directions {
    position: absolute;
    right: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.55em;
    letter-spacing: 0.2px;
    border: 1px solid $color-emerald-green;
    padding: 5px 5px 3px 5px;
    text-decoration: none;
    color: $color-emerald-green;
    border-radius: 5px;
    width: auto;
    bottom: 15%;
  }

  figure cite {
    padding-left: 0.5em;
    padding-right: 1em;
    font-family: 'Benton Sans';
    letter-spacing: 1px;
    margin-bottom: -20px;
    font-size: 0.65em;
  }

  .item-image {
    margin-top: 0.5em;
    margin-bottom: 3em;
  }

  dt::before {
    content: '';
    display: block;
  }

  .phone {
    margin-bottom: 0.3em;
  }

  dt,
  dd {
    display: inline;
  }

  dd {
    border-bottom: 1px solid $color-emerald-green;
    padding-bottom: 1px;
    margin-left: 0.3em;

    a {
      text-decoration: none;
      color: $color-default-black;
    }
  }

  // For linkable page only
  .layout-items & {
    margin: 0 auto;
    background-color: $color-bg-gray;
    margin-top: 6em;
    width: 85%;
    margin-bottom: 4em;

    h1 {
      font-weight: bold;

      &.near-me {
        font-weight: normal;
      }
    }

    p {
      font-family: Benton Sans;
      line-height: 1.5;
      letter-spacing: 0.15px;
    }

    .related {
      margin-top: 2em;

      h3,
      a {
        display: inline;
      }

      h3 {
        font-family: 'Benton Sans';
        font-weight: bold;
        font-size: 1em;
      }

      a {
        border-bottom: 1px solid $color-emerald-green;
        padding-bottom: 1px;
        text-decoration: none;
        color: $color-default-black;
      }
    }
  }
}

.layout-items {
  header[role='banner'] {
    h1 {
      display: none;
    }
  }
}
