/**
 * Style for each item.
 */

article.item {
  margin-top: 1.5em;
  padding-bottom: 3em;

  .item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3em;

    .item-header-left {
      margin-right: auto;
      margin-bottom: auto;
      padding-right: 0.25em;
      min-width: 50%;
      text-align: left;
    }

    .item-header-right {
      margin-left: auto;
      margin-top: auto;
      padding-left: 0.25em;
      text-align: right;
      vertical-align: bottom;
    }

    * {
      vertical-align: bottom;
    }
  }

  h1 {
    font-size: 1.5em;
    line-height: 1.25em;
    text-align: left;
    padding-top: 0;
    margin-bottom: 0.25em;
    font-weight: bold;

    a {
      text-decoration: none;
      color: $color-text;
    }
  }

  // Phone icon for phone links
  a[href^='tel:']::after {
    content: '\260e';
    margin-left: 0.5em;
  }

  .near-me {
    text-align: right;
    font-family: map-get($font-sets, 'benton-sans');
    font-weight: normal;
    font-size: 1.6em;
    line-height: 1.25em;
    margin-bottom: 0.25em;
  }

  address {
    font-style: normal;
    font-weight: bold;
    font-size: 0.85em;
  }

  .directions {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6em;
    letter-spacing: 0.2px;
    border: 1px solid $color-default-black;
    padding: 0.5em 1em;
    line-height: 1.5;
    text-decoration: none;
    color: $color-default-black;
    border-radius: 0.5em;
    /*background-color: $highlight-yellow;*/

   /* @include full-view {
      font-size: 0.6em;
      letter-spacing: 0.2px;
      border: none;
      line-height: 1.5;
      text-decoration: none;
      color: $color-default-black;
      background-color: $color-white;
      border-bottom: 2px solid $highlight-yellow;
      border-radius: 0;
      padding: 0.05em;
    }*/
  }

  .item-image {
    margin-bottom: 3em;

    @include full-view {
      display: none;
    }
  }

  figure cite {
    padding-left: 0.5em;
    padding-right: 2em;
    padding-top: 1em;
    font-family: map-get($font-sets, 'benton-sans');
    letter-spacing: 1px;
    margin-bottom: -20px;
    font-size: 0.65em;
  }

  dl {
    margin-bottom: 2em;
  }

  dt,
  dd {
    display: inline;

    span {
      display: inline-block;
      margin-bottom: 0.25em;
      margin-right: 0.15em;
      vertical-align: top;
    }
  }

  .byline {
    font-family: map-get($font-sets, 'benton-sans');
    font-size: 0.95em;

    @include full-view {
      margin-top: 3em;
    }
  }

  dt::before {
    content: '';
    display: block;
  }

  dd span {
    border: 1px solid transparent;
    padding-bottom: 0em;
    margin-left: 0.3em;

    &.linkable {
      border-bottom: 2px solid $highlight-yellow;
      /*background-color: $highlight-yellow;*/
      &:hover {
        background-color: $highlight-yellow;
        transition: all 0.2s ease-in-out;
      }
    }

    a {
      text-decoration: none;
      color: $color-default-black;
    }
  }

  p a {
    text-decoration: none;
    color: $color-default-black;
    border-bottom: 1px solid $color-emerald-green;
  }

  .related {
    h3,
    a {
      display: inline-block;
    }

    h3 {
      font-family: map-get($font-sets, 'benton-sans');
      font-weight: bold;
      font-size: 1em;
      margin-right: 0.15em;
    }

    a {
      border-bottom: 2px solid $highlight-yellow;
      padding-bottom: 0.02em;
      text-decoration: none;
      color: $color-default-black;
      &:hover {
        background-color: $highlight-yellow;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  // For linkable page only
  .layout-items & {
    margin: 3rem 2rem;
    padding-bottom: 0;

    @include full-view {
      margin: 3rem 2rem 1em;
    }

    @media screen and (max-width: 300px) {
      & {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }

    .item-image {
      margin-left: -2rem;
      margin-right: -2rem;

      @media screen and (max-width: 300px) {
        & {
          margin-right: -1rem;
          margin-left: -1rem;
        }
      }
    }

    .social-buttons {
      margin-bottom: 2em;
      text-align: left;

      @include full-view {
        text-align: left;
      }
    }

    .related {
      margin-top: 2em;
    }
  }
}
