/**
 * Styling for lists
 */

.layout-lists {
  .list-social-buttons {
    text-align: center;
      .facebook-button {
        display: inline-block;
        width: 2.4em;
        height: 2.4em;
        margin-right: 2px;
        background-image: url('http://static.startribune.com/images/icons/facebook.svg?cache=trash');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
          &:hover {
            opacity: 0.85;
          }
      }
      .twitter-button {
        display: inline-block;
        width: 2.4em;
        height: 2.4em;
        margin-right: 2px;
        background-image: url('http://static.startribune.com/images/icons/twitter.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

          &:hover {
            opacity: 0.85;
          }
      }
      .email-button {
        display: inline-block;
        width: 2.4em;
        height: 2.4em;
        background-image: url('http://static.startribune.com/images/icons/link.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

          &:hover {
            opacity: 0.85;
          }
      }
    }
}

nav.toggle-nav {
    position: inherit;
    box-shadow: none;
    padding-top: 0em;
    height: auto;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 2em;
    left: 50%;
    ul {
      margin: 0 auto;
      width: 300px;
      text-align: center;
      li {
        display: inline-block;
        &:first-child {
          margin-right: -1.5%;
        }
        a {
          padding: 0;
          font-size: 0.9em;
          letter-spacing: 0.3px;
          border: 1.4px solid $color-emerald-green !important;
          padding: 8px;
          width: 130px;
          display: block;
          line-height: 0.5;
          text-transform: uppercase;
          font-weight: bold;
          color: $color-emerald-green;
          &.active {
            background-color: $color-emerald-green;
            color: $color-bg-gray !important;
          }
          &.distance {
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
          }
          &.alphabetical {
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
          }
        }
      }
    }
}

article.lists {
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 1em;
  width: 85%;
  border-radius: $default-border-radius;

  h1 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    letter-spacing: -0.3px;
  }

  .byline {
    text-align: center;
    font-family: "Benton Sans";
    margin-top: 2em;
  }

/*  .minor-navigation {
    margin-left: -1.5em;
    margin-right: -1.5em;
  }*/

  .article-description {
    margin-bottom: 2em;
  }

  p {
    font-family: Benton Sans;
    line-height: 1.4;
    letter-spacing: 0.1px;
  }

  article.item {
    margin-bottom: 3em;

    &:last-child {
      margin-bottom: inherit;
    }
  }
}
