/**
 * Styling for lists
 */

nav.toggle-nav {
  box-shadow: none;
  height: auto;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 2em;
  text-align: center;

  @include full-view {
    display: none;
  }

  ul {
    display: inline-block;
    position: relative;

    li {
      display: inline-block;
      margin: 0;

      a {
        padding: 0.25em 0.5em;
        font-size: 0.85em;
        letter-spacing: 0.2px;
        border: 1.4px solid $color-default-black;
        min-width: 10.5em;
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-default-black;

        &.active {
          background-color: $color-default-black;
          color: $color-bg-gray;
        }

        /*&:hover {
          background-color: map-get($grays, 'light');
          border-color: map-get($grays, 'light');
          color: $color-forest-green;
        }*/

        &.distance {
          border-radius: 0 1em 1em 0;
        }

        &.alphabetical {
          border-radius: 1em 0 0 1em;
        }
      }
    }
  }
}

.layout-lists {
  .minor-navigation ul {
    display: none;

    @include full-view {
      display: block;
    }
  }
}

article.lists {
  margin: 2.3em;
  max-width: 40em;

  @include full-view {
    max-width: none;
    margin: 5em 3.7em 5em 3.7em;
  }

  @media screen and (max-width: 300px) {
    & {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }

  .item .social-buttons {
    text-align: left;
  }

  .item .item-image {
    margin-left: -2rem;
    margin-right: -2rem;

    @media screen and (max-width: 300px) {
      & {
        margin-right: -1rem;
        margin-left: -1rem;
      }
    }

    @include full-view {
      display: none;
    }
  }

  h1 {
    font-size: 1.8em;
    text-align: center;
    font-weight: bold;
    letter-spacing: -0.3px;
    margin-bottom: 1em;

    @include full-view {
      font-size: 2em;
    }
  }

  .byline {
    text-align: center;
    font-family: map-get($font-sets, 'benton-sans');

    @include full-view {
      font-size: 0.9em;
      margin-bottom: 5%;
    }
  }

  .social-buttons {
    margin-bottom: 1em;

    @include full-view {
      display: block;
      margin-bottom: 2em;
    }
  }

  @include full-view {
    .item-list .social-buttons {
      display: block;
    }
  }

  .article-description {
    margin-bottom: 3em;
    text-align: center;

    @include full-view {
      margin-bottom: 5em;
      font-size: 1.2em;
    }
  }

  article.item {
    margin-bottom: 2.5em;
    border-bottom: 1px solid #626567;
    padding-top: 1.5em;

    &:last-child {
      margin-bottom: inherit;
    }
  }

  @include full-view {
    h1,
    .byline,
    .social-buttons,
    .article-description {
      text-align: left;
    }
  }

  @include full-view {
    .item {
      opacity: 0.5;
      transition: opacity 0.3s;
    }

    .item.in-view {
      opacity: 1;
    }
  }
}
