/**
 * General, reuasable styles across the project.
 * Use component specific files when appropriate.
 */

body {
  background-color: $color-bg-gray;
}

#main-content {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

footer {
	display: none;
}