/**
 * General, reuasable styles across the project.
 * Use component specific files when appropriate.
 */

body {
  background-color: $color-white;

  @include full-view {
    background-color: $color-white;
  }

  // Since the header is fixed, we add some space at the top
  &.has-header {
    padding-top: 3.3em;
  }
}

// General styles for larger layout
@include full-view {
  .component-group,
  .component-list,
  .component-item {
    width: 33.333332%;
    z-index: 3;

    nav.minor-navigation {
      width: 33.333332%;
    }

    // Reset for components within components
    .component {
      width: inherit;
      z-index: inherit;

      nav {
        width: inherit;
      }
    }
  }
}

.main-visual {
  display: none;

  @include full-view {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100vh;
    width: 66.666665%;
    z-index: 1;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: none;

      // Polyfill
      font-family: 'object-fit: cover;';
    }
  }
}

p {
  font-family: map-get($font-sets, 'benton-sans');
  line-height: 1.5;
  letter-spacing: 0.15px;
}

.horizontal-flush {
  padding-left: 0;
  padding-right: 0;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.vertical-bottom {
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
  width: 100%;
}

.social-buttons {
  text-align: center;

  a {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    margin-right: 0.1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &:hover {
      opacity: 0.85;
    }
  }

  .facebook-button {
    background-image: url('./assets/images/social/facebook-white.svg');
  }

  .twitter-button {
    background-image: url('./assets/images/social/twitter-white.svg');
  }

  .email-button {
    background-image: url('./assets/images/social/broadcast-white.svg');
  }

  &.social-buttons-gray {
    .facebook-button {
      background-image: url('./assets/images/social/facebook-gray.svg');
    }

    .twitter-button {
      background-image: url('./assets/images/social/twitter-gray.svg');
    }

    .email-button {
      background-image: url('./assets/images/social/broadcast-gray.svg');
    }
  }
}

// General map container (from map.html component)
.map-container {
  height: 100%;
  width: 100%;
}
