/**
 * General, reuasable styles across the project.
 * Use component specific files when appropriate.
 */

body {
  background-color: $color-bg-gray;

  // Since the header is fixed, we add some space at the top
  &.has-header {
    padding-top: 3.3em;
  }

  // Example for main breakpoint
  @include full-view {
    background-color: red;
  }
}

.horizontal-flush {
  padding-left: 0;
  padding-right: 0;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.vertical-bottom {
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
  width: 100%;
}
