/**
 * Sub navigations
 */

// Since the nav is fixed, use this around the parent dom to
// create the necessary space
.has-minor-navigation {
  padding-top: 3em;
}

// Have to override the general nav style (should be fixed upstream)
nav.minor-navigation {
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  padding-top: 1em;
  text-align: center;
  background-color: $color-bg-gray;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 3.3em;
  height: 3em;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    text-align: right;
    position: absolute;
    right: 4%;
    top: 25%;
  }

  li {
    margin: 0;
    padding: 0;
    width: auto;
    &:first-child {
      margin-right: 10px;
    }

    a {
      // For some reason strib styles has an !important
      color: $color-forest-green !important;
      display: block;
      padding-bottom: 0.1em;
      border-bottom: 0.15em solid $color-bg-gray;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.75em;

      &.active {
        color: $color-forest-green !important;
        border-bottom-color: $color-forest-green;
      }
    }
  }

  h1 {
    font-family: "Benton Sans";
    font-weight: bold;
    font-size: 1.15em;
    text-align: left;
    color: $color-forest-green;
    position: absolute;
    margin-left: 4%;
    margin-top: -2.5%;
  }

  &.minor-nav-lists ul li a {
    color: $color-forest-green !important;
    border-bottom: 0.15em solid $color-bg-gray;

    &.active {
      color: $color-forest-green !important;
      border-bottom-color: $color-forest-green;
    }
  }
}
