/**
 * Sub navigations
 */

// Since the nav is fixed, use this around the parent dom to
// create the necessary space
.has-minor-navigation {
  padding-top: 2.9em;
}

// Have to override the general nav style (should be fixed upstream)
nav.minor-navigation {
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  padding: 0.75em 1em;
  text-align: center;
  background-color: $color-bg-gray;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
  top: 3.3em;
  display: flex;
  justify-content: space-between;

  @include full-view {
    padding: 2em 1.25em 0.9em 1.25em;
  }

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    text-align: right;
    margin-right: auto;
  }

  li {
    margin: 0;
    padding: 0;
    width: auto;

    &:first-child {
      margin-right: 1em;
    }

    a {
      color: $color-emerald-green;
      display: inline-block;
      border-bottom: 0.15em solid $color-bg-gray;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8em;

      &.active {
        color: $color-emerald-green;
        border-bottom-color: $color-emerald-green;
      }
    }
  }

  h1 {
    margin: 0;
    padding: 0;
    font-family: map-get($font-sets, 'benton-sans');
    font-weight: bold;
    font-size: 1.15em;
    text-align: left;
    color: $color-emerald-green;
    margin-right: auto;
    min-width: 50%;
    vertical-align: middle;
    text-transform: uppercase;
  }
}
