/**
 * Sub navigations
 */

// Since the nav is fixed, use this around the parent dom to
// create the necessary space
.has-minor-navigation {
  padding-top: 3em;
}

// Have to override the general nav style (should be fixed upstream)
nav.minor-navigation {
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  padding-top: 1em;
  box-shadow: none;
  text-align: center;
  background-color: $color-emerald-green;
  box-shadow: 0px 6px 22px 0px rgba(143, 143, 143, 1);
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 3.4em;
  height: 3em;

  ul {
    margin: 0;
    padding: 0;
    width: auto;
    display: block;
    text-align: right;
    position: absolute;
    right: 10%;
    top: 1em;
  }

  li {
    margin: 0;
    padding: 0;
    width: auto;
    &:first-child {
      margin-right: 10px;
    }

    a {
      // For some reason strib styles has an !important
      color: $color-white !important;
      display: block;
      padding-bottom: 0.1em;
      border-bottom: 0.15em solid $color-emerald-green;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;

      &.active {
        color: $color-white !important;
        border-bottom-color: $color-white;
      }
    }
  }

  &.minor-nav-lists ul li a {
    color: $color-white !important;
    border-bottom: 0.15em solid $color-emerald-green;

    &.active {
      color: $color-white !important;
      border-bottom-color: $color-white;
    }
  }
}
