/**
 * Variables for project
 */

// Colors
$color-bg-blue: #71BFF7;
$color-highlight-blue: #107FDC;
$color-bg-gray: #F3F2F2;
$color-emerald-green: #2E3574;
$color-forest-green: #0A0203;
$color-default-black: #0A0203;
$highlight-yellow: #F3EE00;

// Use opacity instead ?
$color-muted-blue: #AED9F8;
$color-highlight-muted-blue: #379BE8;

// Consisten border radius
$default-border-radius: 0.25rem;
