/**
 * Variables for project
 */

// Colors
$color-bg-blue: #71BFF7;
$color-highlight-blue: #107FDC;

// Use opacity instead ?
$color-muted-blue: #AED9F8;
$color-highlight-muted-blue: #379BE8;

// Consisten border radius
$default-border-radius: 0.25rem;
