/**
 * Main style file for project.
 * Uses SASS, specifically the SCSS syntax
 * http://sass-lang.com/
 */

// Variables for project
@import 'variables';

// Strib styles
@import '../node_modules/strib-styles/source/styles/default.scss';

// Project specific styles.  Split styles into files per component
@import 'mixins';
@import 'fonts';
@import 'project';
@import 'ads';
@import 'header';
@import 'footer';
@import 'sub-nav';
@import '_index';
@import 'groups';
@import 'lists';
@import 'item';
@import 'homescreen';
